# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.webApi.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\study\backend\webApi\.idea\.idea.webApi.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
